/*  _editorial.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.editorial > *
  padding: 10px

  +tiny
    padding-left: 0
    padding-right: 0

.editorial  
  +width($c: 35px auto 0)
  margin-bottom: 66px
  +flex($b: flex-start)

  .copy-normal
    flex: 0 0 66.66%

    +medium
      flex: 0 0 50%

    +tiny
      flex: 0 0 100%

    > p
      max-width: 550px

  .copy-full,
  .copy-image
    flex: 0 0 100%

  .copy-full,
  .copy-image .text,
  .copy-normal
    > p
      width: 100%
      margin-top: 10px

    +tiny
      padding: 20px


  .image-wrapper
    > p
      margin-top: 15px

.grid-wrapper
  flex: 0 0 33.33%
  position: relative
  overflow: hidden

  +medium
    flex: 0 0 50%

  +tiny
    flex: 0 0 100%

  &:hover
    .overlay
      opacity: 0

    .rollover
      opacity: 1

    .image
      transform: scale(1.03)

  .image
    width: 100%
    height: 311px
    transition: 0.3s transform cubic-bezier(0.645, 0.045, 0.355, 1)

  .overlay
    opacity: 1
    position: absolute
    bottom: 20px
    left: 0
    padding: 10px 10px 7px 15px
    transition: 0.4s opacity ease

  .rollover
    opacity: 0
    position: absolute
    top: 10px
    left: 10px
    width: calc(100% - 20px)
    height: 311px
    padding: 30px
    transition: 0.4s opacity ease

    +tiny
      opacity: 1
      position: relative
      height: 100%
      padding: 20px 20px 50px
      margin: 0
      width: 100%
      top: 0
      left: 0

    a
      position: absolute
      bottom: 10px
      right: 20px

.section-header
  margin-top: 40px
  margin-bottom: 40px
  flex: 0 0 100%

  h3
    width: 105px
    padding: 12px 20px 10px

  h2
    margin-top: 10px
    width: 260px
    padding: 12px 20px 15px

.calendar
  flex: 0 0 100%

  +tiny
    // max-width: 300px
    margin: 0 auto
    padding: 20px
  
  .date:nth-of-type(n+2)
    h2
      margin-top: 30px

  .item
    margin-top: 25px
    margin-bottom: 50px

    +tiny
      margin-top: 30px
      margin-bottom: 30px

  .time
    margin-top: 7px
    margin-bottom: 7px

.copy-image
  +flex
  margin-bottom: 40px

  .text
    flex: 0 0 33.33%
    padding-right: 30px

    +large
      flex: 0 0 50%

    +medium
      flex: 0 0 100%
      padding-bottom: 30px

  .image-wrapper
    flex:  0 0 66.66%

    +large
      flex: 0 0 50%

    +medium
      flex: 0 0 100%

    .image
      width: 775px
      height: 641px

      +medium
        width: 100%

      +tiny
        width: 100%
        height: 250px

    p 
      // padding: 0 20px 0 0

.calendar-headers
  display: none

  +medium
    display: block
    margin: 0 auto

  .header
    padding: 10px
    width: 90px
    height: 37px
    display: inline-block
    overflow: hidden
    margin-left: -5px




/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.editorial
  .copy-normal,
  .copy-image,
  .copy-full
    .headline
      +gentitle

      +medium
        font-size: 1.8rem

    > p,
    .text > p
      +gencopy($c: 0.03em)

      +medium
        font-size: 1rem


  .grid-wrapper
    .overlay
      background-color: $grey

      h3
        +genhead($c: 1rem)
        line-height: 1.4em
        color: $white

  .rollover
    background-color: rgba(151, 143, 139, 0.7)

    +medium
      background-color: $grey


    h3
      +genhead
      color: $white

    a
      +genhead($b: 0.7rem)
      color: $white
      transition: 0.4s color

      &:hover
        color: $black


    p
      +gencopy($a: 1rem)
      color: $white

      +medium
        font-size: 0.8rem

      +tiny
        // background-color: $grey
        font-size: 0.7rem


  .section-header

    h3,
    h2
      background-color: $orange
      color: $white

    h3
      +genhead($b: 0.9rem, $c: 1em, $d: 0.12em)

    h2
      +gentag($a: 2.3rem)
      letter-spacing: 0.05em

  .calendar
    -webkit-column-count:  3
    -moz-column-count:  3
    column-count:  3
    -webkit-column-gap: 80px
    -moz-column-gap: 80px
    column-gap: 80px

    +tiny
      -webkit-column-count:  1
      -moz-column-count:  1
      column-count:  1

    .date
      h2
        +gentag($a: 1.5rem)
        color: $orange

        +tiny
          font-size: 1.8rem
          line-height: 1.2em

    .item
      h3,
      .special
        +genhead($b: 1.05rem, $c: 1.5rem)

      .special
        color: $orange

      .time
        +gentag
      
      > p 
        +gencopy($a: 1.1rem, $b: 1.8em)


      > a
        +genhead
        color: $orange
        border-bottom: 1px solid $orange
        transition: 0.4s color ease

        &:hover
          color: $black
          border-bottom-color: $white

.copy-image
  .image-wrapper
    p 
      +genhead($b: 0.7rem)

.calendar-headers
  h2,
  h2 a
    +genhead($b: 0.7rem)
    color: $orange
    text-align: center
    transition: 0.4s color

  .header 
    border: 1px solid $orange
    transition: 0.4s background-color