/* Fonts */

=genhead($a: $brandon, $b: 0.9rem, $c: 1.9em, $d: 0.15em, $e: uppercase)
  font-family: $a
  font-size: $b
  line-height: $c
  letter-spacing: $d
  text-transform: $e

=gentag($a: 1rem, $b: 0.05em)
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', serif
  font-style: italic
  font-weight: 500
  font-size: $a
  letter-spacing: $b

/* Repeating Styles */

=width($a: 100%,$b: 1225px, $c: 0 auto)
  width: $a
  max-width: $b
  margin: $c