/* Fonts */

=genhead($a: $brandon, $b: 0.9rem, $c: 1.7rem, $d: 0.15rem, $e: uppercase)
  font-family: $a
  font-size: $b
  line-height: $c
  letter-spacing: $d
  text-transform: $e

=gentag($a: 1rem, $b: 0.05rem)
  font-family: 'Sentinel SSm A', 'Sentinel SSm B', serif
  font-style: italic
  font-weight: 500
  font-size: $a
  letter-spacing: $b