/*  _feature.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.feature
  +width($c: 35px auto 0)
  margin-bottom: 66px

.copy-to-img-layout,
.img-to-copy-layout
  +flex
  margin-top: 30px
  margin-bottom: 30px

  +medium
    margin-top: 20px
    margin-bottom: 20px

  .sectional

  .headline
    margin-top: 15px
    em
      display: block

  .para
    margin-top: 20px

.copy-to-img-layout

  .copy,
  .image-wrapper
    flex: 0 0 50%

    +medium
      flex: 0 0 100%

    +browser(Trident)
      flex: 0 0 44%

      +medium
        flex: 0 0 100%
        
  .copy
    +large
      padding: 20px

  .image-wrapper
    .image
      width: 100%
      height: 386px


      +medium
        height: 331px

  .copy
    padding-right: 11%

    +break($a: 1125px)
      padding: 20px

.img-to-copy-layout
    
  .image-wrapper
    flex: 0 0 63%

    +medium
      flex: 0 0 100%

    +browser(Trident)
      flex: 0 0 60%

    .image
      width: 780px
      height: 520px

      +medium
        width: 100%
        height: 331px

  .copy
    flex: 0 0 36%
    padding-left: 55px

    +medium
      flex: 0 0 100%
      padding: 20px

    +browser(Trident)
      flex: 0 0 34%

    .icon
      display: inline-block

      svg
        width: 40px
        height: 90px

        +medium
          height: 60px
          width: 60px
      
      h3
        display: inline-block

  p
    > img
      max-width: 190px


.three-col-layout
  +flex
  margin-top: 30px
  margin-bottom: 30px

  +medium
    margin-top: 20px
    margin-bottom: 20px

  .left-col
    flex: 0 0 33.33%
    padding-right: 10px

    +medium
      +flex
      flex: 0 0 100%
      padding-right: 0
      padding-bottom: 20px

    +browser(Trident)
      flex: 0 0 33%

      +medium
        +flex
        flex: 0 0 100%
        padding-right: 0
        padding-bottom: 20px

    .image-wrapper,
    .left-copy
      +medium
        flex: 0 0 50%

      +tiny
        flex: 0 0 100%

    .k

    .image
      width: 100%
      height: 772px

      +medium
        width: 100%
        height: 331px

  .middle-right-col
    flex: 0 0 66.66%

    +medium
      flex: 0 0 100%

    +browser(Trident)
      flex: 0 0 66%

      +medium
        flex: 0 0 100%


  .image-row
    +flex

    .image-wrapper
      flex: 0 0 49.4%

      +medium
        flex: 0 0 48.8%

      +tiny
        flex: 0 0 100%
        margin-bottom: 30px

      .image
        width: 100%
        height: 456px

        +medium
          width: 100%
          height: 331px


  .left-copy
    max-width: 329px
    margin: 60px auto 0

    +large
      max-width: 100%
      padding: 20px

    +medium
      margin-top: 0
      padding-top: 0

    +tiny
      padding-top: 20px

  p
    strong
      display: block

    +tiny
     // padding: 20px

  .cta
    +flex
    padding-top: 30px

    +break($a: 1125px)
      width: 459px
      margin: 0 auto
      padding-top: 20px

    +medium
      padding-top: 20px
      padding-bottom: 10px

    +tiny
      padding-top: 0
      padding-bottom: 10px
      width: 300px
      margin-top: -15px

    .cta-icon
      flex: 0 0 190px
      height: 55px

      +break($a: 1125px)
        flex: 0 0 100px
        display: flex
        justify-content: center
        align-items: center


      svg
        width: 190px
        height: 60px

        +break($a: 1125px)
          width: 100px
          height: 32px


    .cta-text
      flex: 1 0 auto
      padding: 0 15px 0 40px

      +break($a: 1125px)
        flex: 0 0 339px
        padding: 0

      +tiny
        flex: 0 0 190px

      svg
        width: 480px
        height: 53px

        +break($a: 1125px)
          width: 339px
          height: 38px

        +tiny
          width: 190px
          height: 38px
          margin-bottom: -10px

.middle-right-col
  > .image-wrapper
    .image
      width: 100%
      height: 537px

      +medium
        width: 100%
        height: 331px


.tagline-mobile
  display: none

  +tiny
    display: block
    padding: 20px

  h2
    padding-top: 5px
    padding-bottom: 10px

  

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.copy-to-img-layout,
.img-to-copy-layout

  .sectional
    +genhead
    color: $orange

  .headline
    +gentitle

    +large
      font-size: 2.2rem

    +medium
        font-size: 1.8rem

    em
      font-style: italic

  .para
    +gencopy

    +large
      font-size: 1.2rem

    +medium
        font-size: 1rem

.three-col-layout
  p
    +gencopy

    +medium
        font-size: 1rem

    strong
      +gentag($a: 2.5rem)
      line-height: 1.4em

      +medium
        font-size: 1.4rem

.copy
  em
    font-style: italic

.cta
  .text
    +genhead($b: 1.8rem)
    color: $black
    transition: 0.4s color

    +medium
      font-size: 1rem

    &:hover
      color: $orange



.tagline-mobile
  border-bottom: 1px solid #978f8b
  h3
    +genhead($b: 0.7rem)
    color: $orange
    text-transform: uppercase
    text-align: center

  h2
    +gentag
    color: $black
    line-height: 1.4em
    text-align: center

  
    
