/*  _head.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

header 
  +width
  position: relative
  z-index: 100


.head
  +flex
  position: relative

  .hamburger
    flex: 0 0 36px
    padding-top: 10px
    position: relative

    svg
      width: 36px
      height: 20px

  .logo
    flex: 0 0 414px
    position: relative

    svg
      width: 414px
      height: 118px

  .tickets
    flex: 0 0 113px
    height: 36px
    position: relative

nav
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  z-index: 200
  transform: translateY(-100vh)
  transition: 0.6s transform cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s opacity ease

  .hamburger
    padding-top: 10px
    position: absolute
    top: 15px
    left: 26px

    svg
      width: 36px
      height: 20px

    .cls-1
      stroke: $white

  .main_menu
    position: relative
    top: 50%
    transform: translateY(-50%)

    > div
      margin-bottom: 90px

  a 
    display: block
    text-align: center

  .main
    margin-bottom: 25px

  .sub
    width: 135px
    margin: 0 auto 22px
    padding: 8px 15px 5px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.head 
  .tickets
    +genhead($c: 40px)
    background-color: $orange
    color: $white
    text-align: center
    white-space: nowrap
    transition: 0.15s all ease

    &:hover
      background-color: $grey

nav
  background-color: rgba(255, 96, 0, .9)
  opacity: 0.1


  .main
    +gentag($a: 2rem)
    letter-spacing: 0.05em
    color: $white
    transition: 0.3s color ease

    &:hover
      color: $black

  .sub
    +genhead($b: 0.7rem)
    color: $white
    border: 1px solid $white
    transition: 0.3s color ease, 0.3s background-color ease

    &:hover
      background-color: $white
      color: $black
      border-color: $black



