/*  _head.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

header 
  +width
  position: relative
  z-index: 100

  +large
    padding-left: 10px
    padding-right: 10px


.head
  +flex
  position: relative


  .hamburger
    flex: 0 0 113px
    padding-top: 10px
    position: relative

    +tiny
      flex: 0 0 42px

    svg
      width: 36px
      height: 20px

      +tiny
        width: 20px
        height: 13px

  .logo
    flex: 0 0 414px
    position: relative

    +medium
      flex: 0 0 250px

    +tiny
      flex: 0 0 172px

    svg
      width: 414px
      height: 118px

      +medium
        width: 250px
        height: 72px

      +tiny
        width: 172px
        height: 49px

  .tickets
    flex: 0 0 113px
    height: 36px
    position: relative

    +tiny
     flex: 0 0 42px

nav
  width: 100vw
  height: 100vh
  position: fixed
  top: 0
  left: 0
  z-index: 200
  transform: translateY(-150vh)
  transition: 0.6s transform cubic-bezier(0.645, 0.045, 0.355, 1), 0.4s opacity ease

  .nav-wrapper
    +width
    height: 100%
    position: relative

  .hamburger
    padding-top: 10px
    position: absolute
    top: 15px
    left: 0

    +tiny
      left: 10px

    svg
      width: 36px
      height: 20px

      +tiny
        width: 20px
        height: 13px


    .cls-1
      stroke: $white

  .main_menu
    position: relative
    top: 50%
    transform: translateY(-50%)

    > div
      margin-bottom: 90px

      +tiny
        margin-bottom: 10px

  a 
    display: block
    text-align: center

  .main
    margin-bottom: 25px


  .sub
    width: 135px
    margin: 0 auto 22px
    padding: 8px 15px 5px

    +tiny
      width: 80px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.head 
  .tickets,
  .tickets a
    +genhead($c: 40px)
    background-color: $orange
    color: $white
    text-align: center
    white-space: nowrap
    transition: 0.4s all ease
    
    +tiny
      color: $orange
      background-color: $white
      font-size: 0.4rem

  .tickets 
    &:hover
      background-color: $grey

      +tiny
        background-color: $white

      a
        background-color: $grey

        +tiny
          background-color: $white

  .hamburger
    cursor: pointer
    .cls-1
      transition: 0.4s stroke

    &:hover
      .cls-1
        stroke: $grey


nav
  background-color: rgba(255, 96, 0, .9)
  opacity: 0.1

  .main
    opacity: 0
    +gentag($a: 2rem)
    letter-spacing: 0.05em
    color: $white
    transition: 0.3s color ease

    &:hover
      color: $black

    +tiny
      font-size: 1rem

  .sub
    opacity: 0
    +genhead($b: 0.7rem)
    color: $white
    border: 1px solid $white
    transition: 0.3s color ease, 0.3s background-color ease

    &:hover
      background-color: $white
      color: $black
      border-color: $black

    +tiny
      font-size: 0.5rem



.nav-wrapper
  .hamburger
    cursor: pointer


