/*  _partners.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.links
  +width($c: 60px auto 0)
  +flex

  +large
    margin-top: 30px

  +tiny
    padding-top: 20px
    margin-top: 30px

  .sdco,
  .gg
    flex: 0 0 25%

    +large
      flex: 0 0 150px

    +medium
      flex: 0 0 100%

  .menu
    flex: 0 0 50%

    +large
      flex: 1 0 auto

    +medium
      flex: 0 0 100%
      padding: 10px



.menu
  +flex

  .item,
    flex: 0 0 150px

    +tiny
      flex: 0 0 100%

  .social_media
    flex: 0 0 150px
    +flex

    +medium
      flex: 0 0 100px
      margin: 10px auto

    .item
      flex: 0 0 30px

      +medium
        flex: 0 0 20px


    .item svg
      width: 30px
      height: 30px

      +medium
        width: 20px
        height: 20px

    .item:last-of-type
      flex: 0 0 100%
     

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.links

  +tiny
    border-top: 1px solid #978f8b

  .sdco,
  .sdco a,
  .gg,
  .gg span,
    +genhead($b: 0.35rem)
    color: $orange
    transition: 0.4s color

    +medium
      text-align: center

  .sdco a
    &:hover
      color: $black

  .sdco,
  .gg
    span
      display: block

  .gg
    text-align: right

    +medium
      text-align: center

  .item,
  .item a
    +genhead
    color: $black
    transition: 0.4s color

    &:hover
      color: $orange

    +medium
      text-align: center
      font-size: 0.8rem

    +tiny
      font-size: 1rem

    &:hover
      color: $orange

.social_media
  a svg path
    transition: 0.4s fill
  .item
    &:hover
      a svg path
        fill: $black

  h4
    +genhead($b: 1.1rem, $d: 0.3em)
    color: $orange

    +medium
      font-size: 0.7rem





