/* Breakpoints Mixins */

=large
  @media(max-width: #{1225px})
    @content

=medium
  @media(max-width: #{900px})
    @content

=tiny
  @media(max-width: #{650px})
    @content
    

/* Flexbox */
=flex($a: flex, $b: space-between, $c: flex-start, $d: wrap)
  display: $a
  justify-content: $b
  align-items: $c
  flex-wrap: $d

/* Background Image Settings */
=img($a: no-repeat, $b: center, $c: cover)
  background-repeat: $a
  background-position: $b
  background-size: $c

/* Browser Detection  */

=browser($browsers: Mozilla)
  @each $browser in $browsers
    html[data-browser*="#{$browser}"] &
      @content


/* Placeholder */
=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
