/* Breakpoints Mixins */

=large
  @media(max-width: #{1225px})
    @content

=medium
  @media(max-width: #{900px})
    @content

=tiny
  @media(max-width: #{650px})
    @content
    
=break($a, $b: max-width)  
  @media($b: #{$a})
    @content


/* Flexbox */
=flex($a: flex, $b: space-between, $c: flex-start, $d: wrap)
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: $a
  -webkit-justify-content: $b
  -moz-justify-content: $b
  -ms-justify-content: $b
  justify-content: $b
  -ms-flex-pack: $b
  -webkit-align-items: $c;
  -moz-align-items: $c;
  -ms-align-items: $c;
  align-items: $c
  -webkit-flex-wrap: $d
  -moz-flex-wrap: $d
  -ms-flex-wrap: $d
  flex-wrap: $d

/* Background Image Settings */
=img($a: no-repeat, $b: center, $c: cover)
  background-repeat: $a
  background-position: $b
  background-size: $c

/* Browser Detection  */

=browser($browsers: Mozilla)
  @each $browser in $browsers
    html[data-browser*="#{$browser}"] &
      @content


/* Placeholder */
=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

/* Keyframes */
=keyframes($a)
  @-webkit-keyframes #{$a}
    @content  
  @-moz-keyframes #{$a}
    @content  
  @-ms-keyframes #{$a}
    @content  
  @keyframes #{$a}
    @content  
