/*  _partners.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.partners
  +flex
  width: 100%
  max-width: 850px
  margin: 40px auto 0

  +large
    max-width: 600px
    margin-top: 15px

  +tiny
    max-width: 300px

  .partners

  .partner

    +tiny
      flex: 0 0 auto
      margin: 0 auto

    img 
      width: initial
  
  .desktop
    +large
      display: none

  .tablet
    +tiny
      display: none

    +break($b: min-width, $a: 1225px)
      display: none

  .mobile
    +break($b: min-width, $a: 650px)
      display: none





/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.partners

.partner_message
  +gentag($a: 1.5rem)
  text-align: center

  +large
    font-size: 1.2rem

  +tiny
    font-size: 0.9rem




