  <div class="three-col-layout wow fadeIn"
  data-wow-duration="1s">
    <div class="left-col">
    {{# left_col}}
      {{> images}}
      <div class="left-copy">
        {{{copy}}}
      </div>
    {{/ left_col}}
    </div>
    <div class="middle-right-col">
    {{# img_row}}
      <div class="image-row">
      {{# middle}}
        {{> images}}
	    {{/ middle}}
	    {{# right}}
        {{> images}}
	    {{/ right}}
      </div>
    {{/ img_row}}
	    {{# cta}}
      <a href="{{link}}">
	      <div class="cta">
		      {{# icon}}
	        <div class="cta-icon wow swing"
            data-wow-duration="2s" data-wow-delay="5s"
            data-wow-offset="30">
	        	{{{icon}}}
	        </div>
	        <div class="cta-text">
	          {{# title}}
	          <div class="title">
	            {{{title}}}
	          </div>
	          {{/ title}}
	          <h3 class="text">
	            {{text}} 
	            <span class="arrow">></span>
	          </h3>
	        </div>
		      {{/ icon}}
	      </div>
      </a>
      {{/ cta}}
      {{# bottom_img}}
        {{> images}}
      {{/ bottom_img}}
    </div>
  </div>