{{# page.gallery.toggle}}
  <div class="wrapper">
  {{# page.gallery.images}}
    <div class="slider"
      style="background-image: url({{url}})">
    </div>
  {{/ page.gallery.images}}
  </div>
{{/ page.gallery.toggle}}