<div class="img-to-copy-layout">
  {{> images}}
  <div class="copy">
    <div class="sectional">
    {{# copy_icon}} 
      <div class="icon">
      	{{{copy_icon}}}
      </div>
    {{/ copy_icon}} 
      <h3>
      	{{copy_sect}}
      </h3>
    </div>
    <div class="headline">
    	{{{copy_head}}}
    </div>
    <div class="para">
    	{{{copy_para}}}
    </div>
  </div>
</div>