{{# page.layouts}}
  {{# cp_img}}
    {{> tmpl_feature/copy-to-img}}
  {{/ cp_img}}
  {{# 3_col}}
    {{> tmpl_feature/3-col}}
  {{/ 3_col}}
  {{# img_cp}}
     {{> tmpl_feature/img-to-copy}}
  {{/ img_cp}}
{{/ page.layouts}}