{{# page.signup}}
	<h4>{{headline}}</h4>
	<h3>{{tagline}}</h3>
	<form class="form-signup" id="form-id-signup">
	  <input class="form" id="name" name="jub17_name" type="text" placeholder="Name">
	  <input class="form" id="email" name="jub17_email" type="text" placeholder="Email">
	  <input id="form-submit" type="submit" value="Submit">
	</form>
	<h3 id="response"></h3>
{{/ page.signup}}