{{# normal}}
<div class="copy-normal wow fadeIn"
  data-wow-duration="1s">
  <div class="headline">
    {{{headline}}}
  </div>
  {{{para}}}
</div>
{{/ normal}}
{{# make_full}}
<div class="copy-full wow fadeIn"
  data-wow-duration="1s">
  <div class="headline">
    {{{headline}}}
  </div>
  {{{para}}}
</div>
{{/ make_full}}
{{# add_image}}
<div class="copy-image wow fadeIn"
  data-wow-duration="1s">
  <div class="text">
    <div class="headline">
      {{{headline}}}
    </div>
    {{{para}}}
  </div>
  <div class="image-wrapper wow fadeIn"
    data-wow-duration="1s">
    <div class="image"
      style="background-image: url({{image.url}})">
    </div>
    <p>{{image_caption}}</p>
  </div>
</div>
{{/ add_image}}