{{# normal}}
<div class="copy-normal">
  {{{headline}}}
  {{{para}}}
</div>
{{/ normal}}
{{# make_full}}
<div class="copy-full">
  {{{headline}}}
  {{{para}}}
</div>
{{/ make_full}}
{{# add_image}}
<div class="copy-image">
  <div class="text">
  {{{headline}}}
  {{{para}}}
  </div>
  <div class="image-wrapper">
    <div class="image"
      style="background-image: url({{image.url}})">
    </div>
    <p>{{caption}}</p>
  </div>
</div>
{{/ add_image}}