{{# normal}}
<div class="copy-normal">
  <div class="headline">
    {{{headline}}}
  </div>
  {{{para}}}
</div>
{{/ normal}}
{{# make_full}}
<div class="copy-full">
  <div class="headline">
    {{{headline}}}
  </div>
  {{{para}}}
</div>
{{/ make_full}}
{{# add_image}}
<div class="copy-image">
  <div class="text">
    <div class="headline">
      {{{headline}}}
    </div>
    {{{para}}}
  </div>
  <div class="image-wrapper">
    <div class="image"
      style="background-image: url({{image.url}})">
    </div>
    <p>{{image_caption}}</p>
  </div>
</div>
{{/ add_image}}