<div class="grid-wrapper">
  <div class="image-wrapper">
	  <div class="image"
	    style="background-image: url({{image.url}})">
	  </div>
	  <div class="overlay">
	    <h3>
	    	{{image_headline}}
	    </h3>
	  </div>
  </div>
  <div class="rollover">
    <h3>
      {{copy_header}}
    </h3>
    {{{paragraph}}}
  {{# grid_link}}
    <a href="{{link}}" target="_blank">
      {{link_title}}
    </a>
  {{/ grid_link}}
  </div>
</div>