{{# page.layouts}}
  {{# edit_copy}}
    {{> tmpl_editorial/copy}}
  {{/ edit_copy}}
  {{# edit_image-grid}}
    {{> tmpl_editorial/image-grid}}
  {{/ edit_image-grid}}
  {{# edit_sec-head}}
     {{> tmpl_editorial/sec-head}}
  {{/ edit_sec-head}}
  <div class="calendar">
  {{# calendar}}
    {{> tmpl_editorial/calendar}}
  {{/ calendar}}
  </div>
{{/ page.layouts}}