<div class="foot">
	{{> foot/partners}}
	<div class="links">
	  <div class="scdo">
	  	<span>site by</span>
	  	<a href="http://www.sdcopartners.com" target="_blank">
	  	  sdco partners
	  	</a>
	  </div>
	  <div class="menu">
	    {{# assets.ft_menu}}
	      <div class="item">
	      {{# url}}
		      <a href="{{url}}" target="_blank">
		    {{/ url}}
	      {{# po}}
		      <a href="{{url}}" target="_blank">
		    {{/ po}}
		    {{# email}}
		      <a href="mailto:{{email}}">
		    {{/ email}}
		        {{title}}
		      </a>
	      </div>
	    {{/ assets.ft_menu}}
	  </div>
	  <div class="gg">
	  	<span>Garden &amp; Gun</span>
	  	Copyright Garden &amp; Gun
	  </div>
	</div>
</div>