<!-- === SECTION: FOOTER === -->
<footer class="foot">
	{{> foot/partners}}
	<div class="links wow fadeInUp"
	  data-wow-duration="1s" data-wow-delay="0.5s"
	  data-wow-offset="10">
	  <div class="sdco">
	  	<span>site by</span>
	  	<a href="http://www.sdcopartners.com" target="_blank">
	  	  sdco partners
	  	</a>
	  </div>
	  <div class="menu">
    {{# assets.footer.left_item}}
      {{> foot/menu}}
    {{/ assets.footer.left_item}}
      {{> foot/social}}	    
    {{# assets.footer.right_item}}
      {{> foot/menu}}
    {{/ assets.footer.right_item}}
	  </div>
	  <div class="gg">
	  	<span>Garden &amp; Gun</span>
	  	Copyright Garden &amp; Gun
	  </div>
	</div>
</footer>