<h3 class="partner_message">
  {{assets.copy.partner_message}}
</h3>

<div class="partners">
	{{# assets.partners}}
	  <div class="partner">
	    <a href="{{link}}" target="_blank" >
 			  <img src="{{img.url}}">
			  </a>
	  </div>
	{{/ assets.partners}}
</div>