<h3 class="partner_message">
  {{assets.partner_message}}
</h3>
<div class="partners">
	{{# assets.partners}}
	  <div class="partner">
	    <a href="{{link}}" target="_blank" >
 			  <img src="{{img.url}}" alt="{{img.alt}}"
 			    width="{{img.width}}" height="{{img.height}}">
			  </a>
	  </div>
	{{/ assets.partners}}
</div>