<div class="social_media">
  {{# assets.social}}
  <div class="item">
    <a href="{{link}}" target="_blank">
      {{{icon}}}
    </a>
  </div>
  {{/ assets.social}}
  <div class="item">
    <h4>#{{assets.hash}}</h4>
  </div>
</div>