{{> header}}

<!-- === SECTION: 404 MESSAGE === -->
<section class="four-oh-four wow fadeInUp">
  <div class="icon">
    {{{404.icon}}}
  </div>
	<div class="title">
		{{{404.title}}}
	</div>
</section>

{{> footer}}