{{> foot/foot}}

{{{wp_footer}}}

<script>

	var afterAnimate = function() {
	}

wow = new WOW( {
    boxClass:     'wow',
    animateClass: 'animated',
    offset:       200,
    callback: afterAnimate,
  }
);

wow.init();
</script>
</body>
</html><!-- end. -->