<div class="image-wrapper">
  <div class="image"
    style="background: url('{{img.url}}')">
  </div>
  <div class="caption">
		<h3>
      {{img_head}}
    </h3>
    <h2>
      {{img_cap}}
    </h2>
  </div>
</div>