<div class="image-wrapper">
  <div class="image"
    style="background-image: url('{{img.url}}')">
  </div>
  <div class="caption">
    <div class="img_head">
  		<h3>
        {{img_head}}
      </h3>
    </div>
    <div class="img_cap">
      <h2>
        {{img_cap}}
      </h2>
    </div>
  </div>
</div>