{{> header}}

<!-- === SECTION: GALLERY === -->
<section class="gallery wow fadeIn"
  data-wow-duration="2s">
  {{> tmpl_feature/gallery}}
</section>

<!-- === SECTION: MOBILE TAGLINE ===  -->
<section class="tagline-mobile">
  {{> tmpl_feature/tagline-mobile}}
</section>

<!-- === SECTION: CONTENT LAYOUTS === -->
<section class="feature">
  {{> tmpl_feature/layouts}}
</section>

{{> footer}}