{{> header}}

<!-- === SECTION: GALLERY === -->
<section class="gallery">
  {{> tmpl_feature/gallery}}
</section>

<!-- === SECTION: CONTENT LAYOUTS === -->
<section class="layouts">
  {{> tmpl_feature/layouts}}
</section>

{{> footer}}