<div class="head">
  <div class="hamburger">
    {{{assets.svg.hamburger}}}
  </div>
  <div class="logo">
    <a href="http://10.1.10.96/gardenandgun-jubilee/">
    {{{assets.svg.logo_main}}}
    </a>
  </div>
  <div class="tickets">
    Tickets
  </div>
</div>