<div class="head">
  <div class="hamburger">
    {{{assets.svg.hamburger}}}
  </div>
  <div class="logo wow fadeInDown" 
    data-wow-duration="1.5s" data-wow-delay="0.5s">
    <a href="http://10.1.10.96/gardenandgun-jubilee/">
    {{{assets.svg.logo_main}}}
    </a>
  </div>
  <div class="tickets">
    <a href="https://kiosk.eztix.co/kiosk-optimised/234368" 
      target="_blank">
      Tickets
    </a>
  </div>
</div>