<div class="head">
  <div class="hamburger">
    {{{assets.svg.hamburger}}}
  </div>
  <div class="logo wow fadeInDown" 
    data-wow-duration="2.5s" data-wow-delay="0.5s">
    <a href="http://50.28.54.252/~jubilee17d/">
    {{{assets.svg.logo_main}}}
    </a>
  </div>
  <div class="tickets wow tada"
    data-wow-duration="1s" data-wow-delay="2s">
    <a href="https://kiosk.eztix.co/kiosk-optimised/499125" target="_blank">
      Tickets
    </a>
  </div>
</div>