<div class="info">
  <div class="left">
    <h3>{{assets.header.left_tag}}</h3>
  </div>
  <div class="middle">
    <h3>{{assets.header.middle_head}}</h3>
    <h2>{{assets.header.middle_tag}}</h2>
  </div>
  <div class="right">
    <h3>{{assets.header.right_tag}}</h3>
  </div>
</div>