<nav>
	<div class="main_menu">
	{{# assets.nav.mm}}
	  <a href="{{mm_link}}"
	    target="_blank">
	  	{{mm_title}}
	  </a>
	{{/ assets.nav.mm}}
	{{# assets.nav.sm}}
	  <a href="{{sm_link}}"
	    target="_blank">
	  	{{sm_title}}
	  </a>
	{{/ assets.nav.sm}}
	</div>

</nav>